.container{
  display: flex;
  height: 70%;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.block{
  display: flex;
  flex: 1 1 0;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, .3) 0 0px 10px;
  flex-direction: column;
  transition: ease-in-out .25s;
  border-radius: 1.4vh;
  max-width: 450px;
  margin: 10px;
  background-color: white;
  width: 66vw;
}
img{
  width: 100%;
  height: 22vh;
  object-fit: cover;
  border-radius: 1.4vh 1.4vh 0 0;
}
h2{
 display: flex;
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  font-weight: bold;
  margin-left: 5%;
  transition: .2s;
}
.centerh1{
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  font-weight: bolder;
  margin: 2vh;
  font-size: 4vh;
  text-align: center;
}
p{
 display: flex;
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  font-weight: normal;
  margin-left: 5%;
 font-size: 2vh;
 text-overflow: ellipsis;
white-space: normal;
overflow: hidden;
margin-bottom: auto;
transition: .2s;
}
p:hover , h2:hover{
  color: #EB2D3A;
}
.block:hover , .block:active{
  flex: 2;
  box-shadow: rgba(255, 0, 0, 0.904) 0px 5px 100px;
  border-radius: 3vh;
  margin: 8px;
  max-width: 600px;
}
 button{
 width: 2.2vh;
 aspect-ratio: 1;
 box-shadow: rgba(0, 0, 0, .3) 0 0px 10px;
 display: flex;
 background-color: transparent;
 border: solid;
 border-radius: 50%;
 margin-left: 2vh;
 margin-bottom: 3%;
 transition: .25s;
 }
 button:hover{
  box-shadow: rgba(0, 0, 0, 0.904) 0px 5px 10px;
  background-color: black;
  width: 3vh;
 }
 input{
  display: flex;
  border-radius: 3vh;
  transition: .3s;
  width: 60%;
  height: 10%;
  margin: auto;
  margin-top: .25vh;
  font-style: oblique;
 }
 input:focus, select:hover{
  background-color: #00001C;
  padding: .6vw;
  border-radius: 1.3vh;
  scale: 1.35;
  color: white;
  font-weight: bolder;
  font-size: 2vh;
  margin-bottom: 2vh;
  box-shadow:#00001C 0px 3vw 5vw;
 }
.toggle-element {
  display: none; /* Initially hidden */
}
#button-inline{
  margin: auto;
  margin-top: 2vh;
  width: 6vw;
  height: 3vh;
  border-radius: 2vh;
}
#storedValue{
 width: fit-content;
 font-size: 3vh;
 border-radius: 1.6vh;
 box-shadow: rgba(0, 0, 0, .2) 0 1.5vw 1vw;
 padding: .7vw .7vw .8vw .7vw;
 position: fixed;
 top: 26vh;
}
#resultArea{
  width: fit-content;
  height: 2vh;
  font-size: 3vh;
  border-radius: 1.6vh;
  box-shadow: rgba(0, 0, 0, .2) 0 1.5vw 1vw;
  padding: .7vw .7vw 2vw .7vw;
  position: fixed;
  left: 50%;
  top: 8vh;
}
select{
  background-color: white;
  border-radius: 2vw;
  color: #00001C;
  width: fit-content;
  height: fit-content;
  font-size: 2vh;
  margin: auto;
  transition: .3s;
}